body{
   /* Set line spacing */
   line-height: 1.35;
}


header, nav{
    /* Set padding and margin */
    padding: 0 10px 15px 50px;
    margin: 1%;
}

nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 0 30px 0px 0px;
    padding: 15px;
    font-size: 14pt;
    background-color: #e7e0e0;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: #000000;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline wavy #000000;
    text-transform: uppercase;
    text-underline-offset: 5px;
}


h1{
   /*Set font and font size*/
   font-family: "Merriweather", "Anton", "Times New Roman", Arial;
   font-size: 30pt;
}

h2{
    /*Set font, font size, and alignment*/
    font-family: "Anton", "Times New Roman", Arial;
    font-size: 24pt;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 18pt;
}

h1, h2, h3{
    /*Set margin */
    margin-top: 10px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */

    /* display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px; */
    display: grid;
    background-color: #c8c3e5;
    width: 90%;
    grid-template-columns: repeat(3,30%);
    grid-row-gap: 10px;
    column-gap: 5%;
    margin: auto;
}

.grid div{
    /* Set border properties, padding, and background color */
    background-color: #efefef;
    border-radius: 30px;
    padding: 10px;
    border: solid;
}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    display: flex;
    margin: auto;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 5px 0 0 #00000033;
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -5px 0 0 #00000033;
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 0 0 0 #00000033, 0 0 0 0 #00000033, 5px 0 0 #00000033, -5px 0 0 #00000033;
}
    

p + p {
     /* Set indentation */
    text-indent: 1.5em;
    margin-top: 0
  }
  
p{
     /* Set margin */
     margin-bottom: 0
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin: 0 0 15px 45px;
    line-height: 1;
    list-style-image: url("/images/sketchbook.png");
}
